img {
    height: 250px;
}

.content * {
    display: block;
    margin: 10px auto;
}

div input {
    display: inline-block;
}

#search {
    width: 500px;
}

#center {
    padding-top: 18px;
    position: absolute;
    top: 275px;
    margin: auto;
    z-index: 0;
}